/* Start Woocommerce Checkout */
.woocommerce-checkout {
  background-color: var(--hzbi-whitesmoke);
}

textarea::placeholder,
input::placeholder {
  font-size: 0.75rem;
}

.woocommerce-checkout .wbg-checkout-intro {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem 0;
  align-items: center;
}

.woocommerce-checkout .woocommerce-form-login {
  margin-bottom: 1.25rem;
}

.woocommerce-checkout .woocommerce-form-login-toggle {
  margin-top: 3rem;
}

.woocommerce-checkout .woocommerce-form-login-toggle::before {
  content: "Checkout";
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--hzbi-black);
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--hzbi-green);
  border-radius: 10px;
  background-color: var(--hzbi-lighter-green);
  /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px var(--hzbi-white); */
  margin-bottom: 1rem;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info a {
  font-size: 0.75rem;
  text-align: right;
}

.woocommerce-checkout .woocommerce-form-login-toggle .woocommerce-info {
  margin-top: 1rem;
}

.woocommerce-checkout .lost_password {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  color: var(--hzbi-green);
  text-align: center;
}

.woocommerce-checkout h3:not(#ship-to-different-address) {
  font-weight: 900;
  letter-spacing: 0.5px;
  color: var(--hzbi-black);
  margin-bottom: 1rem;
}

/* Start Hiding Coupon */

.woocommerce-checkout .woocommerce-form-coupon-toggle,
.woocommerce-checkout .checkout_coupon .woocommerce-form-coupon {
  display: none;
}

/* End Hiding Coupon */

.woocommerce-checkout .woocommerce label {
  text-transform: uppercase;
  font-weight: 600 !important;
  margin-bottom: 0.25rem !important;
  font-size: 0.75rem !important;
  letter-spacing: 0.5px !important;
  color: var(--hzbi-black) !important;
}

.woocommerce-checkout .woocommerce input,
.woocommerce-checkout .woocommerce select,
.woocommerce-checkout .woocommerce textarea {
  padding: 0 0.75rem;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.woocommerce-checkout .woocommerce #customer_details span.select2-selection {
  border-radius: 10px;
  margin-bottom: 1.25rem;
}

.woocommerce-checkout .woocommerce #customer_details textarea {
  padding: 1rem 0.75rem;
}

.woocommerce-checkout .woocommerce #customer_details input:focus {
  border: 1px solid var(--hzbi-green) !important;
  outline: none;
}

.woocommerce-checkout .woocommerce #ship-to-different-address label {
  font-size: 1.15rem !important;
}

/* Start second checkout column */
.woocommerce-checkout .woocommerce #order_review {
  /* background: var(--hzbi-lighter-green);
  border-radius: 10px; */
  border: none !important;
  color: var(--hzbi-black);
  letter-spacing: 0.5px;
}

/* Start Review Order Table */
.woocommerce-checkout .woocommerce #order_review table {
  letter-spacing: 1.2px;
  background: var(--hzbi-light-gold);
  border-radius: 10px;
}

.woocommerce-checkout .woocommerce #order_review table thead {
  border-bottom-color: var(--hzbi-whitesmoke);
}

.woocommerce-checkout .woocommerce #order_review table thead th:nth-child(2) {
  text-align: right;
}

.woocommerce-checkout .woocommerce #order_review table tbody td:nth-child(2) {
  text-align: right;
  padding-left: 0;
}

.woocommerce-checkout .woocommerce #order_review table tfoot td:nth-child(2) {
  text-align: right;
  padding-left: 0;
  width: 55%;
}

/* Start Shipping Area */

.woocommerce-checkout
  .woocommerce
  #order_review
  ul.woocommerce-shipping-methods
  li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.woocommerce-checkout
  .woocommerce
  #order_review
  ul.woocommerce-shipping-methods
  li
  input {
  width: unset;
  margin-bottom: unset;
}

.woocommerce-checkout
  .woocommerce
  #order_review
  ul.woocommerce-shipping-methods
  li
  label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin-bottom: 0;
  font-weight: 400;
}

.woocommerce-checkout
  .woocommerce
  #order_review
  ul.woocommerce-shipping-methods
  li
  input[checked="checked"]
  + label {
  background-color: var(--hzbi-dark-gold);
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  color: var(--hzbi-whitesmoke) !important;
  text-align: center;
}

/* End Shipping Area */

.woocommerce-checkout .woocommerce #order_review table tfoot {
  border-bottom: none !important;
}

.woocommerce-checkout .woocommerce #order_review .order-total {
  border-top: 1px solid var(--hzbi-whitesmoke);
}

.woocommerce-checkout
  .woocommerce
  #order_review
  .order-total
  .woocommerce-Price-amount {
  font-size: 1.25rem !important;
}
/* End Review Order Table */

/* Start Store Contacts Checkout */
.woocommerce-checkout .wbg-checkout-store-contacts {
  margin-top: 2rem;
}

.woocommerce-checkout .wbg-store-address-banner-container {
  padding: 0;
}

.woocommerce-checkout .wbg-store-address-banner-container .wbg-icon-mini-card,
.woocommerce-checkout .wbg-store-address-banner-container .wbg-icon-card {
  background-color: var(--hzbi-light-gold);
}

.woocommerce-checkout.woocommerce-order-received .wbg-checkout-store-contacts {
  margin-bottom: 3rem;
}

/* End Store Contacts Checkout */

/* Start Payment Area */

.woocommerce-checkout
  .woocommerce
  #order_review
  div.woocommerce-checkout-payment::before {
  content: "Pagamento";
  font-size: 1.215rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--hzbi-black);
}

.woocommerce-checkout
  .woocommerce
  #order_review
  div.woocommerce-checkout-payment {
  padding: 0;
  margin: 2rem 0 4rem 0;
}

.woocommerce-checkout
  .woocommerce
  #order_review
  div.woocommerce-checkout-payment
  li:not(#pagseguro-payment-form li) {
  border-radius: 10px;
  background-color: var(--hzbi-lighter-green);
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

.woocommerce-checkout .woocommerce .woocommerce-Price-currencySymbol {
  font-size: 0.75rem !important;
  margin-right: 0.25rem;
}

.woocommerce-checkout .woocommerce ul.wc_payment_methods {
  display: flex;
  flex-direction: column;
  margin-top: 1rem !important;
}

.woocommerce-checkout .woocommerce div.payment_box {
  margin: 30px 0 !important;
}

.woocommerce-checkout .woocommerce li.wc_payment_method > label {
  text-transform: uppercase !important;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem !important;
}

.woocommerce-checkout .woocommerce .payment_box::before {
  border: none !important;
}

.woocommerce-checkout .woocommerce .payment_box {
  letter-spacing: 1px;
  background: none !important;
}

/* Start Checkout Button */
.woocommerce-checkout .woocommerce #place_order {
  width: 100%;
  padding: 0.75rem 2rem;
  margin: 0.75rem 0;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.25rem;
  background-color: var(--hzbi-green) !important;
  border: none;
  color: var(--hzbi-white) !important;
}

/* End Checkout Button */

/* End Payment Area */

@media (max-width: 991px) {
  .woocommerce-checkout .woocommerce {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .woocommerce-checkout .woocommerce form[name="checkout"] {
    display: flex;
    flex-direction: column;
  }

  .woocommerce-checkout .woocommerce #customer_details {
    width: 100% !important;
    margin-bottom: 1.5rem;
  }

  .woocommerce-checkout .woocommerce #order_review {
    width: 100% !important;
  }
}

/* Start Thank you Page */

.woocommerce-order-received h2 {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.woocommerce-order-received .wbg-thank-you-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

.woocommerce-order-received .wbg-thank-you-image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 2rem; */
  height: 350px;
}

.woocommerce-order-received .wbg-thank-you-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}

.woocommerce-order-received .woocommerce-thankyou-order-received {
  color: var(--hzbi-green) !important;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.woocommerce-order-received .woocommerce-order-overview.order_details {
  flex-direction: column;
  text-align: left;
  border-color: var(--hzbi-lighter-green);
  border-radius: 20px;
  padding: 0.85rem 0;
  font-size: 0.85rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.woocommerce-order-received .woocommerce-order-overview.order_details li {
  gap: 0.25rem;
  padding-bottom: 1rem;
}

/* .woocommerce-order-received .wcpix-p {
  font-size: 0.95rem;
  font-weight: 600;
  padding-top: 0.5rem;
}

.woocommerce-order-received .wcpix-button-copy-code {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 0.75rem 2rem;
  margin: 0.75rem 0;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 0.85rem;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
    rgb(255 255 255 / 80%) -6px -2px 16px 0;
  overflow: hidden;
  position: relative;
  background-color: var(--hzbi-green) !important;
  border: none;
  color: var(--hzbi-white) !important;
} */

.woocommerce-order-received .woocommerce-order-details table {
  letter-spacing: 1.2px;
  background: var(--hzbi-light-gold);
  border-radius: 10px;
  line-height: 1.5;
}

.woocommerce-order-received .woocommerce-order-details table td {
  padding: 1rem;
}

.woocommerce-order-received .woocommerce-order-details table thead {
  border-bottom-color: var(--hzbi-whitesmoke);
}

.woocommerce-order-received
  .woocommerce-order-details
  table
  thead
  th:nth-child(2) {
  text-align: right;
}

.woocommerce-order-received
  .woocommerce-order-details
  table
  tbody
  td:nth-child(2) {
  text-align: right;
}

.woocommerce-order-received .woocommerce-order-details table tfoot {
  text-align: right;
  padding-left: 0;
  width: 55%;
  background-color: unset;
}

.woocommerce-order-received .woocommerce-columns--addresses {
  flex-direction: column;
  gap: 0.5rem;
}

.woocommerce-order-received .woocommerce-columns--addresses address {
  text-transform: uppercase;
  line-height: 1.2;
}

.woocommerce-order-received .woocommerce-message {
  line-height: 1.2;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.woocommerce-order-received .wbg-checkout-redirect {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.woocommerce-order-received .wbg-checkout-redirect > * {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  background-color: var(--hzbi-lighter-green);
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.woocommerce-order-received .wbg-checkout-redirect-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
}

.woocommerce-order-received .wbg-checkout-redirect-option i {
  font-size: 0.85rem;
  color: var(--hzbi-green);
}

.woocommerce-order-received .wbg-checkout-redirect-option span {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--hzbi-green);
  text-align: center;
}

/* End Thank You Page*/

/* End Woocommerce Checkout */
