:root {
  --hzbi-white: rgba(255, 255, 255, 1);
  --hzbi-whitesmoke: rgba(231, 231, 231, 1);
  --hzbi-light-grey: rgba(224, 224, 224, 1);
  --hzbi-light-black: rgba(0, 0, 0, 0.6);
  --hzbi-black: rgba(0, 0, 0, 1);
  --hzbi-green: rgba(0, 89, 48, 1);
  --hzbi-light-green: rgba(0, 89, 48, 0.5);
  --hzbi-lighter-green: rgba(0, 89, 48, 0.2);
  --hzbi-dark-gold: rgba(117, 98, 75, 1);
  --hzbi-gold: rgba(214, 177, 132, 1);
  --hzbi-light-gold: rgba(214, 177, 132, 0.5);
  --hzbi-red: rgba(187, 6, 35, 1);
}

html {
  font-size: 81.3%;
} /*14px*/

body {
  background: white;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

p,
p:last-of-type {
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.25rem 0rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.383rem;
}

h2 {
  font-size: 1.296rem;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

h5 {
  font-size: 1.067rem;
}

small,
.text-small {
  font-size: 0.837rem;
}

.wbg-button {
  width: 100%;
  padding: 0.75rem 2rem;
  margin: 0.75rem 0;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 0.85rem;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
    rgb(255 255 255 / 80%) -6px -2px 16px 0;
  overflow: hidden;
  position: relative;
}

.wbg-button[data-visibility="visible"] {
  animation: fadeIn 700ms ease-in;
}

.wbg-button[data-visibility="hidden"] {
  display: none;
}

.wbg-button span.btn-animate {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  animation: ripple 700ms linear forwards;
}

.wbg-primary-button {
  background-color: var(--hzbi-green) !important;
  border: none;
  color: var(--hzbi-white) !important;
}

.wbg-primary-button span.btn-animate {
  background: var(--hzbi-whitesmoke);
}

.wbg-secondary-button {
  border: 2px solid var(--hzbi-green);
  font-weight: 600;
  color: var(--hzbi-black);
}

.wbg-ternary-button {
  border: 1px solid var(--hzbi-light-green);
  color: var(--hzbi-black);
}

.wbg-secondary-button span.btn-animate,
.wbg-ternary-button span.btn-animate {
  background: var(--hzbi-green);
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(100%);
  }
} */

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translate3d(0, 2%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translate3d(0, 2%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    /* transform: scale(1); */
    opacity: 0.1;
  }
  100% {
    /* transform: scale(1.2); */
    opacity: 1;
  }
}
