:root {
  --woo-mobile-cart-item-product-remove-width: 20px;
  --woo-mobile-cart-item-product-thumbnail-width: 100px;
  --woo-mobile-cart-item-min-padding: 1rem;
}

.woocommerce-cart .bricks-site-wrapper {
  background: var(--hzbi-whitesmoke);
}

/* Start Woocommerce Cart */
/* .woocommerce-cart .woocommerce {
  margin-block: 3rem;
}
.woocommerce-cart .woocommerce thead {
  font-size: 0.75rem;
  letter-spacing: 1.5px;
}
.woocommerce-cart .woocommerce .product-remove a {
  width: 10px;
}
.woocommerce-cart .woocommerce .product-name a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--hzbi-green);
}
.woocommerce-cart .woocommerce .product-subtotal span {
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--hzbi-green);
}
.woocommerce-cart .woocommerce .button[name="apply_coupon"] {
  background: none !important;
  border: 1px solid var(--bb-dark-brown) !important;
  color: var(--bb-dark-brown) !important;
}
.woocommerce-cart .woocommerce .button[name="apply_coupon"]:hover {
  text-decoration: underline;
  background-color: var(--bb-light-brown) !important;
  color: var(--bb-gray) !important;
}
.woocommerce-cart .woocommerce .button[name="update_cart"] {
  background: var(--bb-light-brown) !important;
  color: var(--bb-white) !important;
}
.woocommerce-cart .woocommerce .button[name="update_cart"]:disabled {
  opacity: 0.2;
}
.woocommerce-cart .woocommerce .button[name="update_cart"]:hover {
  background-color: var(--bb-light-brown) !important;
  border: none !important;
  color: var(--bb-gray) !important;
  filter: brightness(115%);
}
.woocommerce-cart .woocommerce .cart-collaterals th {
  letter-spacing: 1.2px;
}
.woocommerce-cart .woocommerce .cart-collaterals td {
  letter-spacing: 1.2px;
}
.woocommerce-cart
  .woocommerce
  .cart-collaterals
  .wc-proceed-to-checkout
  .button {
  background-color: var(--bb-dark-brown) !important;
  color: var(--bb-white) !important;
}
.woocommerce-cart
  .woocommerce
  .cart-collaterals
  .wc-proceed-to-checkout
  .button:hover {
  background-color: var(--bb-light-brown) !important;
  color: var(--bb-gray) !important;
} */

@media (max-width: 991px) {
  .woocommerce-cart .woocommerce {
    padding-bottom: 1rem;
  }

  .woocommerce-cart .woocommerce .woocommerce-cart-form__cart-item {
    padding: 0 !important;
    margin-bottom: 1rem !important;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-remove {
    width: var(--woo-mobile-cart-item-product-remove-width) !important;
    display: unset;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-remove
    a {
    top: 75% !important;
    width: 20px;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-thumbnail {
    left: var(--woo-mobile-cart-item-product-remove-width);
    top: 10px;
    padding: 0 !important;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-name {
    padding-left: calc(
      var(--woo-mobile-cart-item-product-remove-width) +
        var(--woo-mobile-cart-item-product-thumbnail-width) +
        var(--woo-mobile-cart-item-min-padding)
    );
    width: 100%;
    text-transform: uppercase;
    color: var(--hzbi-green);
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-price {
    padding-left: calc(
      var(--woo-mobile-cart-item-product-remove-width) +
        var(--woo-mobile-cart-item-product-thumbnail-width) +
        var(--woo-mobile-cart-item-min-padding)
    );
    width: 100%;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-quantity {
    padding-left: calc(
      var(--woo-mobile-cart-item-product-remove-width) +
        var(--woo-mobile-cart-item-product-thumbnail-width) +
        var(--woo-mobile-cart-item-min-padding)
    );
    width: 100%;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-quantity
    .quantity {
    width: 75% !important;
    margin-top: 0.25rem;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-quantity
    .action {
    color: var(--hzbi-black);
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .woocommerce-Price-currencySymbol {
    font-size: 0.65rem;
    margin-right: 0.25rem;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-subtotal {
    padding-left: calc(
      var(--woo-mobile-cart-item-product-remove-width) +
        var(--woo-mobile-cart-item-product-thumbnail-width) +
        var(--woo-mobile-cart-item-min-padding)
    );
    width: 100%;
    text-align: right;
    color: var(--hzbi-green);
  }

  /* This rule affect the subtotal title position */
  .woocommerce-cart .woocommerce table tbody td[data-title]:before {
    margin-right: 0;
    letter-spacing: 0.5px;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-subtotal
    bdi {
    font-size: 1.15rem;
    font-weight: 900;
    line-height: 100%;
  }

  .woocommerce-cart
    .woocommerce
    .woocommerce-cart-form__cart-item
    .product-subtotal
    .woocommerce-Price-amount {
    line-height: 2;
  }

  /* Start Coupon style */
  .woocommerce-cart .woocommerce .coupon {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .woocommerce-cart
    .woocommerce
    .coupon
    > *:not(span)[data-visibility="hidden"] {
    display: none;
  }

  .woocommerce-cart
    .woocommerce
    .coupon
    > *:not(span)[data-visibility="visible"] {
    animation: fadeIn 700ms ease-in;
  }

  .woocommerce-cart .woocommerce .coupon span {
    font-weight: 600;
  }

  .woocommerce-cart .woocommerce .button[name="apply_coupon"] {
    width: 100%;
    padding: 0.75rem 2rem;
    margin: 0.75rem 0;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 0.85rem;
    box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
      rgb(255 255 255 / 80%) -6px -2px 16px 0;
    margin-top: 0.5rem !important;
    font-weight: 600;
    border: 1px solid var(--hzbi-light-green);
    color: var(--hzbi-black);
  }

  /* End Coupon style */

  .woocommerce-cart .woocommerce .button[name="update_cart"] {
    width: 100%;
    padding: 0.75rem 2rem;
    margin: 0.75rem 0;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 0.85rem;
    box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
      rgb(255 255 255 / 80%) -6px -2px 16px 0;
    border: 2px solid var(--hzbi-green);
    font-weight: 600;
    color: var(--hzbi-black);
  }

  .woocommerce-cart
    .woocommerce
    .button[name="update_cart"][aria-disabled="true"] {
    opacity: 0.2;
  }

  .woocommerce-cart .woocommerce .cart-collaterals td {
    padding-left: 0.5rem !important;
    display: flex;
    justify-content: space-between;
  }

  .woocommerce-cart .woocommerce .cart-collaterals td[data-title="Entrega"] {
    flex-direction: column;
  }

  .woocommerce-cart .woocommerce .cart-collaterals td[data-title="Entrega"] ul,
  .woocommerce-cart .woocommerce .cart-collaterals td[data-title="Entrega"] p,
  .woocommerce-cart
    .woocommerce
    .cart-collaterals
    td[data-title="Entrega"]
    form {
    text-align: right;
  }

  .woocommerce-cart
    .woocommerce
    .cart-collaterals
    td[data-title="Entrega"]
    ul
    li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .woocommerce-cart
    .woocommerce
    .cart-collaterals
    td[data-title="Entrega"]
    ul
    li
    input.shipping_method {
    width: unset;
  }

  .woocommerce-cart .woocommerce .cart-collaterals .cart_totals .order-total {
    letter-spacing: 0.5px;
    color: var(--hzbi-green);
    font-size: 1.25rem;
  }

  .woocommerce-cart
    .woocommerce
    .cart-collaterals
    .cart_totals
    .order-total
    .woocommerce-Price-currencySymbol {
    font-size: 0.75rem;
    margin-right: 0.5rem;
  }

  .woocommerce-cart
    .woocommerce
    .cart-collaterals
    .cart_totals
    .wc-proceed-to-checkout
    .button {
    width: 100%;
    padding: 0.75rem 2rem;
    margin: 0.75rem 0;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 0.85rem;
    box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
      rgb(255 255 255 / 80%) -6px -2px 16px 0;
    background-color: var(--hzbi-green) !important;
    color: var(--hzbi-white);
    line-height: 2;
  }

  .wbg-cart-voltar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
/* End Woocommerce Cart */
