.wbg-add-to-cart {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
}

.wbg-add-to-cart[data-visibility="hidden"] {
  display: none;
}

.wbg-add-to-cart[data-visibility="visible"] {
  display: block;
}

.wbg-add-to-cart-product-name {
  font-size: 1rem;
  color: white;
}

.wbg-add-to-cart-button-wrapper {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.wbg-add-to-cart-button {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--hzbi-green);
  border-radius: 20px;
  display: grid;
  place-items: center;
  margin-top: 0.75rem;
}

.wbg-add-to-cart-button .add-to-cart-label {
  color: white;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.wbg-add-to-cart[data-action-state="idle"]
  .wbg-add-to-cart-button
  span.add-to-cart-label::after {
  content: "ADICIONAR AO CARRINHO";
}

.wbg-add-to-cart[data-action-state="pending"] .wbg-add-to-cart-button {
  border: 2px solid var(--hzbi-green);
  opacity: 0.5;
}

.wbg-add-to-cart[data-action-state="pending"]
  .wbg-add-to-cart-button
  span.add-to-cart-label::after {
  content: "ADICIONANDO...";
}

.wbg-add-to-cart[data-action-state="completed"]
  .wbg-add-to-cart-button
  span.add-to-cart-label::after {
  content: "ADICIONAR AO CARRINHO";
}

.wbg-add-to-cart-footer {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

/* Mini add to cart footer */
.wbg-add-to-cart-footer.mini .wbg-mini-add-to-cart-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  padding-right: 0.5rem;
}

.wbg-add-to-cart-footer[data-visibility="hidden"].mini
  .wbg-mini-add-to-cart-footer {
  background-color: var(--hzbi-lighter-green);
  border-radius: 20px;
  width: 50px;
  height: 50px;
  transition: all 200ms ease-in-out;
}

.wbg-add-to-cart-footer[data-visibility="visible"].mini
  .wbg-mini-add-to-cart-footer {
  background-color: var(--hzbi-green);
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  height: 50px;
  width: 300px;
  transition: all 300ms ease-in;
}

.wbg-mini-add-to-cart-footer i:nth-child(2) {
  color: var(--hzbi-white);
  font-size: 0.5rem;
  font-weight: 600;
}

.wbg-mini-add-to-cart-footer i:nth-child(3) {
  color: var(--hzbi-white);
  font-size: 1.25rem;
}

.wbg-add-to-cart-footer[data-visibility="hidden"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  font-size: 0rem;
}

.wbg-add-to-cart-footer[data-visibility="visible"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  font-size: 1rem;
  color: var(--hzbi-white);
  text-transform: uppercase;
  margin-right: 0.25rem;
  transition: all 200ms ease-in 100ms;
}

.wbg-add-to-cart-footer[data-action-state="idle"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  content: "Adiciona ao carrinho";
}

.wbg-add-to-cart-footer[data-action-state="pending"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  content: "Adicionando...";
}

.wbg-add-to-cart-footer[data-action-state="completed"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  content: "Adiciona ao carrinho";
}

/* End Mini add to cart footer */
