.wbg-add-to-cart {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
}

.wbg-add-to-cart[data-visibility="hidden"] {
  display: none;
}

.wbg-add-to-cart[data-visibility="visible"] {
  display: block;
}

.wbg-add-to-cart-product-name {
  font-size: 1rem;
  color: white;
}

.wbg-add-to-cart-button-wrapper {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.wbg-add-to-cart-button {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--hzbi-green);
  border-radius: 20px;
  display: grid;
  place-items: center;
  margin-top: 0.75rem;
}

.wbg-add-to-cart-button .add-to-cart-label {
  color: white;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.wbg-add-to-cart[data-action-state="idle"]
  .wbg-add-to-cart-button
  span.add-to-cart-label::after {
  content: "ADICIONAR AO CARRINHO";
}

.wbg-add-to-cart[data-action-state="pending"] .wbg-add-to-cart-button {
  border: 2px solid var(--hzbi-green);
  opacity: 0.5;
}

.wbg-add-to-cart[data-action-state="pending"]
  .wbg-add-to-cart-button
  span.add-to-cart-label::after {
  content: "ADICIONANDO...";
}

.wbg-add-to-cart[data-action-state="completed"]
  .wbg-add-to-cart-button
  span.add-to-cart-label::after {
  content: "ADICIONAR AO CARRINHO";
}

.wbg-add-to-cart-footer {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/* Mini add to cart footer */
.wbg-add-to-cart-footer.mini .wbg-mini-add-to-cart-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;

  padding-right: 0.5rem;
}

.wbg-add-to-cart-footer[data-visibility="hidden"].mini
  .wbg-mini-add-to-cart-footer {
  background-color: var(--hzbi-lighter-green);
  border-radius: 20px;
  width: 50px;
  height: 50px;
  transition: all 200ms ease-in-out;
}

.wbg-add-to-cart-footer[data-visibility="visible"].mini
  .wbg-mini-add-to-cart-footer {
  background-color: var(--hzbi-green);
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  height: 50px;
  width: 300px;
  transition: all 300ms ease-in;
}

.wbg-mini-add-to-cart-footer i:nth-child(2) {
  color: var(--hzbi-white);
  font-size: 0.5rem;
  font-weight: 600;
}

.wbg-mini-add-to-cart-footer i:nth-child(3) {
  color: var(--hzbi-white);
  font-size: 1.25rem;
}

.wbg-add-to-cart-footer[data-visibility="hidden"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  font-size: 0rem;
}

.wbg-add-to-cart-footer[data-visibility="visible"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  font-size: 1rem;
  color: var(--hzbi-white);
  text-transform: uppercase;
  margin-right: 0.25rem;
  transition: all 200ms ease-in 100ms;
}

.wbg-add-to-cart-footer[data-action-state="idle"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  content: "Adiciona ao carrinho";
}

.wbg-add-to-cart-footer[data-action-state="pending"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  content: "Adicionando...";
}

.wbg-add-to-cart-footer[data-action-state="completed"].mini
  .wbg-mini-add-to-cart-footer
  span::after {
  content: "Adiciona ao carrinho";
}

/* End Mini add to cart footer */

.wbg-add-to-cart-footer.large {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--hzbi-whitesmoke);
  padding: 0.5rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
    rgb(255 255 255 / 80%) -6px -2px 16px 0;
}

.wbg-add-to-cart-footer[data-visibility="hidden"].large {
  animation: slideOutDown 700ms ease-in forwards;
}

.wbg-add-to-cart-footer[data-visibility="visible"].large {
  animation: slideInUp 700ms ease-in forwards;
}

.wbg-bulk-add-to-cart {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.wbg-add-to-cart-footer[data-action-state="idle"].large
  .wbg-bulk-add-to-cart
  span.wbg-button-label::after {
  content: "ADICIONAR AO CARRINHO";
}

.wbg-add-to-cart-footer[data-action-state="pending"].large
  .wbg-bulk-add-to-cart {
  border: 2px solid var(--hzbi-green);
  opacity: 0.5;
}

.wbg-add-to-cart-footer[data-action-state="pending"].large
  .wbg-bulk-add-to-cart
  span.wbg-button-label::after {
  content: "ADICIONANDO...";
}

.wbg-add-to-cart-footer[data-action-state="completed"].large
  .wbg-bulk-add-to-cart
  span.wbg-button-label::after {
  content: "ADICIONAR AO CARRINHO";
}

.wbg-show-cart {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.wbg-show-cart[data-visibility="hidden"] {
  display: none;
}

.wbg-add-to-cart-miniature {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.fas.fa-beer[data-visibility="visible"] {
  animation: popIn 700ms ease-in forwards;
  color: var(--hzbi-black);
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(-1);
  }

  100% {
    opacity: 1;
    transform: scale(1.3);
  }
}

/* .wbg-product-add-to-cart {
  display: flex;
  justify-content: center;
}

.wbg-product-add-to-cart .add-to-cart-button {
  height: 1.5em;
  font-weight: 600;
  padding: 1.25em 0em 1.25em 0em;
  margin-top: 1.5em;
  width: 90%;
  background-color: var(--hzbi-light-green);
  border-radius: 10px !important;
  color: white;
  border: none;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0px,
    rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  position: relative;
} */

/* .wbg-product-add-to-cart .add-to-cart-button[disabled="true"] {
  opacity: 0.1;
  border: none;
} 

.wbg-cart-notification {
  position: fixed;
  top: 40px;
  right: 0px;
  padding: 0.25em 1em 0.5em 0em;
  background-color: greenyellow;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 999;
  width: auto;
  max-width: 90%;
}
*/
