.wbg-add-to-cart-container {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
}

.wbg-add-to-cart-container[data-visibility="hidden"] {
  display: none;
}

.wbg-add-to-cart-container[data-visibility="visible"] {
  display: block;
}

.wbg-add-to-cart-product-name {
  font-size: 1rem;
  color: white;
}

.wbg-add-to-cart-button-wrapper {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.wbg-add-to-cart-button {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--hzbi-green);
  border-radius: 20px;
  display: grid;
  place-items: center;
  color: white;
  text-transform: uppercase;
  margin-top: 0.75rem;
}

/* .wbg-product-add-to-cart {
  display: flex;
  justify-content: center;
}

.wbg-product-add-to-cart .add-to-cart-button {
  height: 1.5em;
  font-weight: 600;
  padding: 1.25em 0em 1.25em 0em;
  margin-top: 1.5em;
  width: 90%;
  background-color: var(--hzbi-light-green);
  border-radius: 10px !important;
  color: white;
  border: none;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0px,
    rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  position: relative;
} */

/* .wbg-product-add-to-cart .add-to-cart-button[disabled="true"] {
  opacity: 0.1;
  border: none;
} */

.wbg-cart-notification {
  position: fixed;
  top: 40px;
  right: 0px;
  padding: 0.25em 1em 0.5em 0em;
  background-color: greenyellow;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 999;
  width: auto;
  /* transform: translateX(300px); */
  max-width: 90%;
}
