.wbg-add-to-cart {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
}

.wbg-add-to-cart[data-visibility="hidden"] {
  display: none;
}

.wbg-add-to-cart[data-visibility="visible"] {
  display: block;
}

.wbg-add-to-cart-product-name {
  font-size: 1rem;
  color: white;
}

.wbg-add-to-cart-button-wrapper {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.wbg-add-to-cart-button {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--hzbi-green);
  border-radius: 20px;
  display: grid;
  place-items: center;
  margin-top: 0.75rem;
}

.wbg-add-to-cart-button .add-to-cart-label {
  color: white;
  text-transform: uppercase;
  line-height: 1;
}

.wbg-add-to-cart[data-action-state="idle"]
  .wbg-add-to-cart-button
  span.add-to-cart-label::after {
  content: "ADICIONAR AO CARRINHO";
}

.wbg-add-to-cart[data-action-state="pending"] .wbg-add-to-cart-button {
  border: 2px solid var(--hzbi-green);
  opacity: 0.5;
}

.wbg-add-to-cart[data-action-state="pending"]
  .wbg-add-to-cart-button
  span.add-to-cart-label::after {
  content: "ADICIONANDO...";
}

.wbg-add-to-cart[data-action-state="completed"]
  .wbg-add-to-cart-button
  span.add-to-cart-label::after {
  content: "ADICIONAR AO CARRINHO";
}

.wbg-add-to-cart-notification {
  margin-top: 0.5rem;
}

.wbg-add-to-cart-notification span {
  line-height: 1.1;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
}

.wbg-add-to-cart-notification-success,
.wbg-add-to-cart-notification-failed {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.wbg-add-to-cart-notification-success span {
  color: var(--hzbi-green);
}

.wbg-add-to-cart-notification-failed span {
  color: var(--hzbi-red);
}

.wbg-add-to-cart-notification-success[data-visibility="hidden"],
.wbg-add-to-cart-notification-failed[data-visibility="hidden"] {
  display: none;
}

.wbg-add-to-cart-notification-success[data-visibility="visible"],
.wbg-add-to-cart-notification-failed[data-visibility="visible"] {
  animation: fadeIn 500ms ease-in;
}

/* .wbg-product-add-to-cart {
  display: flex;
  justify-content: center;
}

.wbg-product-add-to-cart .add-to-cart-button {
  height: 1.5em;
  font-weight: 600;
  padding: 1.25em 0em 1.25em 0em;
  margin-top: 1.5em;
  width: 90%;
  background-color: var(--hzbi-light-green);
  border-radius: 10px !important;
  color: white;
  border: none;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0px,
    rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  position: relative;
} */

/* .wbg-product-add-to-cart .add-to-cart-button[disabled="true"] {
  opacity: 0.1;
  border: none;
} 

.wbg-cart-notification {
  position: fixed;
  top: 40px;
  right: 0px;
  padding: 0.25em 1em 0.5em 0em;
  background-color: greenyellow;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 999;
  width: auto;
  max-width: 90%;
}
*/
