.wbg-shipping-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--hzbi-whitesmoke);
  min-width: 100vw;
  min-height: 50vh;
}

.wbg-shipping-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wbg-shipping-options-container[data-visibility="hidden"] {
  display: none;
}

.wbg-shipping-options-container[data-visibility="visible"] {
  animation: slideInUp 500ms ease-in;
}

.wbg-shipping-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wbg-shipping-option {
  display: flex;
  justify-content: center;
  width: 50%;
}

.wbg-shipping-option-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 120px;
  gap: 1rem;
}

.wbg-shipping-option img {
  height: 100px;
}

.wbg-shipping-option span {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--hzbi-green);
}

/* start old css */
.wbg-cep-verification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.wbg-cep-verification-container[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-verification-container[data-visibility="visible"] {
  display: inherit;
}

.wbg-cep-form-container {
  margin-top: 1rem;
  border-bottom: 1px solid #00593014;
  margin-bottom: 0.5rem;
  width: 100%;
}

.wbg-cep-form-container[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-form-container[data-visibility="visible"] {
  display: inherit;
}

.wbg-cep-verification-wrapper {
  width: 100%;
}

.wbg-cep-form-wrapper select {
  margin-bottom: 0.75em;
  padding: 0.25em;
  border-radius: 10px;
}

.wbg-cep-form-wrapper input {
  padding: 0.5em;
  border-radius: 10px;
}
.wbg-cep-form-wrapper input::placeholder {
  font-size: 1rem;
}

.wbg-cep-form-wrapper-states {
  display: flex;
  flex-direction: column;
}

.wbg-cep-form-wrapper-states[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-form-wrapper-states[data-visibility="visibile"] {
  display: inherit;
}

.wbg-cep-form-input-cep-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1rem 0;
}

.wbg-cep-form-input-cep-wrapper label {
  margin-bottom: 0;
}

.busca-cep-link {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.wbg-cep-form-footer {
  display: flex;
  gap: 0.5em;
  margin-top: 0.25em;
}

.wbg-cep-form-footer {
  display: flex;
  flex-direction: column;
}

.wbg-cep-verification-success[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-verification-success[data-visibility="visible"] {
  animation: slideInUp 500ms ease-in;
}

.wbg-cep-verification-failed[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-verification-failed[data-visibility="visible"] {
  animation: slideInUp 500ms ease-in;
}

#cep-notice {
  height: 15%;
  padding: 1em;
}

.wbg-cep-notice-error {
  color: rgb(214, 57, 57);
}

.wbg-cep-notice-warning {
  color: rgb(214, 114, 57);
}

.wbg-cep-notice-info {
  color: rgb(85, 85, 85);
}
