.wbg-shipping-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--hzbi-whitesmoke);
  min-width: 100vw;
  min-height: 30vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 min(3vh, 3rem);
  transform: translateY(0);
  animation: slideInUp 700ms ease-in;
  padding-block: 3rem;
}

.wbg-shipping-options-intro {
  margin-bottom: 2rem;
}

.wbg-shipping-options-intro h4 {
  font-weight: 600;
}

.wbg-shipping-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wbg-shipping-options-container[data-visibility="hidden"] {
  display: none;
}

.wbg-shipping-options-container[data-visibility="visible"] {
  animation: fadeIn 700ms ease-in;
}

.wbg-shipping-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.wbg-shipping-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.wbg-shipping-image-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
    rgb(255 255 255 / 80%) -6px -2px 16px 0;
  width: max-content;
  padding: 2rem;
}

.wbg-shipping-option img {
  height: 80px;
  width: 85px;
}

.wbg-shipping-option span {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--hzbi-white);
  background-color: var(--hzbi-green);
  padding: 0.25rem 1rem;
  border-radius: 20px;
}

.wbg-shipping-options-footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 0.25rem;
}

.wbg-shipping-options-footer p {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--hzbi-green);
}

/* start old css */
.wbg-cep-verification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.wbg-cep-verification-container[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-verification-container[data-visibility="visible"] {
  display: inherit;
}

.wbg-cep-form-container {
  margin-top: 1rem;
  border-bottom: 1px solid #00593014;
  margin-bottom: 0.5rem;
  width: 100%;
}

.wbg-cep-form-container[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-form-container[data-visibility="visible"] {
  animation: slideInUp 500ms ease-in;
}

.wbg-cep-verification-wrapper {
  width: 100%;
}

.wbg-cep-verification-head-image {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}

.wbg-cep-verification-head-image .wbg-shipping-image-wrapper {
  width: 100px;
  padding: 0.5rem;
}

.wbg-cep-form-intro {
  margin-bottom: 1rem;
}

.wbg-cep-form-wrapper select {
  padding: 0 0.75rem;
  border-radius: 10px;
  background: var(--hzbi-white);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.wbg-cep-form-wrapper input {
  padding: 0 0.75rem;
  border-radius: 10px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.wbg-cep-form-wrapper input::placeholder {
  font-size: 1rem;
}

.wbg-cep-form-wrapper-states {
  display: flex;
  flex-direction: column;
}

.wbg-cep-form-wrapper-states[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-form-wrapper-states[data-visibility="visibile"] {
  display: inherit;
}

.wbg-cep-form-input-cep-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1rem 0;
}

.wbg-cep-form-input-cep-wrapper label {
  margin-bottom: 0;
}

.wbg-button-cep-form-verifycep[data-action-state="idle"]
  span.wbg-button-label::after {
  content: "VERIFICA CEP";
}

.wbg-button-cep-form-verifycep[data-action-state="pending"]
  span.wbg-button-label::after {
  content: "VERIFICANDO...";
}

.wbg-button-cep-form-verifycep[data-action-state="completed"]
  span.wbg-button-label::after {
  content: "VERIFICA CEP";
}

.wbg-cep-form-notification-failed {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.wbg-cep-form-notification-failed span {
  line-height: 1.1;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--hzbi-red);
}

.wbg-cep-form-notification-failed[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-form-notification-failed[data-visibility="visible"] {
  animation: fadeIn 700ms ease-in;
}

.busca-cep-link {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.wbg-cep-form-footer {
  display: flex;
  gap: 0.5em;
  margin-top: 0.25em;
}

.wbg-cep-form-footer {
  display: flex;
  flex-direction: column;
}

.wbg-cep-verification-success,
.wbg-cep-verification-failed {
  margin-block: 3rem;
}

.wbg-cep-verification-success[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-verification-success[data-visibility="visible"] {
  animation: slideInUp 500ms ease-in;
}

.wbg-cep-verification-failed[data-visibility="hidden"] {
  display: none;
}

.wbg-cep-verification-failed[data-visibility="visible"] {
  animation: slideInUp 500ms ease-in;
}

.wbg-cep-verification-content {
  margin-block: 2rem;
}

#cep-notice {
  height: 15%;
  padding: 1em;
}

.wbg-cep-notice-error {
  color: rgb(214, 57, 57);
}

.wbg-cep-notice-warning {
  color: rgb(214, 114, 57);
}

.wbg-cep-notice-info {
  color: rgb(85, 85, 85);
}
