/* Start Woocommerce Login */
.woocommerce-account #customer_login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.woocommerce-account #customer_login .col-1 {
  width: 50%;
}
.woocommerce-account #customer_login .col-2 {
  width: 50%;
}

.woocommerce-account #customer_login input {
  border-color: var(--bb-light-brown);
}

.woocommerce-account #customer_login label {
  text-align: left;
  text-transform: uppercase;
  color: var(--bb-grey);
  font-size: 0.75rem;
  margin-bottom: 0.15rem;
  letter-spacing: 0.5px;
}

.woocommerce-account #customer_login form {
  border: 1px solid var(--bb-light-brown);
}

.woocommerce-account #customer_login .col-2 .register {
  padding: 30px;
  width: 400px;
}

.woocommerce-account #customer_login .col-2 .woocommerce-privacy-policy-text {
  font-size: 0.85rem;
  line-height: 100%;
  margin-bottom: 0.55rem;
  letter-spacing: 1px;
}

.woocommerce-account #customer_login .col-2 .woocommerce-privacy-policy-text a {
  color: var(--bb-dark-brown);
  text-decoration: underline;
}

.woocommerce-account #customer_login .col-2 .woocommerce-password-strength {
  margin-top: 0.25rem;
}

.woocommerce-account
  #customer_login
  .col-2
  .woocommerce-password-strength::before {
  content: "Complexidade senha: ";
  font-size: 0.75rem;
  color: var(--bb-dark-brown);
}

.woocommerce-account #customer_login button {
  width: 100%;
}

@media (max-width: 991px) {
  .woocommerce-account #customer_login {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .woocommerce-account #customer_login {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .woocommerce-account #customer_login .col-1 {
    width: 100%;
  }
  .woocommerce-account #customer_login .col-2 {
    width: 100%;
  }

  .woocommerce-account #customer_login form {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
/* End Woocommerce Login */
