/* This class is used inside Bricks for the page foreground */
.wbg-archive-product {
  background-color: var(--hzbi-whitesmoke);
}

.wbg-archive-product-container {
  padding: 0rem 1rem;
}

.wbg-archive-product-container > ul,
.wbg-archive-product-container > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wbg-archive-product-wrapper {
  padding: 0 0.5em 0 0.5em;
}

.wbg-category-card {
  min-height: 200px;
  border-radius: 20px;
  background: var(--hzbi-light-grey);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px var(--hzbi-white);
  margin-bottom: 3em;
  padding-bottom: 1em;
}

.arrow-toggle-expand-collapse {
  width: 34px;
  height: 34px;
}

.arrow-toggle-expand-collapse[data-visibility="hidden"] {
  display: none;
}

.arrow-toggle-expand-collapse[data-visibility="shown"] {
}

.action-buttons {
  border-radius: 50%;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
    rgb(255 255 255 / 80%) -6px -2px 16px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.expanded {
  animation: expand 1s ease;
  height: auto;
}

@keyframes expand {
  0% {
    opacity: 0.9;
  }

  100% {
    height: auto;
    opacity: 1;
  }
}

.collapsed {
  animation: collapse 1s ease;
}

@keyframes collapse {
  0% {
    height: 100vh;
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.wbg-category-inner-card {
  margin: 3em 1em 0 1em;
  display: flex;
  padding-top: 0.75em;
}

.wbg-category-inner-image {
  flex: 0.8;
}

.wbg-category-inner-image img {
  margin-top: -2em;
  margin-left: 1em;
}

.wbg-category-content {
  display: flex;
  flex-direction: column;
  flex: 1.2;
}

.wbg-category-name {
  /* font-size: 1em; */
  font-weight: 900;
  text-transform: uppercase;
  margin: 0.5em 0 0.25em 0;
  color: var(--hzbi-light-black);
  letter-spacing: 0.15em;
  /* line-height: 1.12em; */
}

/*
.wbg-category-description p {
  font-size: 0.8em;
  line-height: 1em;
}
*/

.wbg-category-attributes {
  position: relative;
}

.wbg-category-attributes-values {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 0.5rem;
}

.wbg-category-attribute-value {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--hzbi-gold);
  text-align: center;
  font-size: 0.8em;
  font-weight: 900;
  /* line-height: 1em; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.wbg-category-attributes-descriptions {
  position: absolute;
  z-index: 1;
  transform: translateY(100%);
  background-color: var(--hzbi-gold);
  padding: 0.75rem 1rem;
  border-radius: 10px;
}

.wbg-category-attributes-descriptions[data-visibility="hidden"] {
  transform: translateY(0%);
  opacity: 0;
  transition: all 700ms;
}

.wbg-category-attributes-descriptions[data-visibility="visible"] {
  animation: slideInUp 500ms ease-in;
}

.wbg-category-attribute-description {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--hzbi-black);
}

.product-category-explode {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.product-category-explode .toggleExpandLabel {
  /* font-size: 0.75em; */
  letter-spacing: 0.1em;
  font-weight: 900;
  color: var(--hzbi-green);
}

.wbg-product-list-wrapper > ul,
.wbg-product-list-wrapper > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wbg-product-list[data-visibility="hidden"] {
  display: none;
}

.wbg-product-list[data-visibility="shown"] {
}

.wbg-product-container {
  display: flex;
  flex-direction: row;
}

.wbg-product {
  padding: 1em 0em 1em 0em;
  border-top: 1px solid #00593014;
  margin-top: 1em;
}

.wbg-product-image {
  flex: 0.8;
}

.wbg-product-inner-details {
  flex: 1.2;
  padding-left: 1em;
  padding-right: 1em;
}

.wbg-product-name {
  /* font-size: 1.15em; */
  font-weight: 900;
  color: var(--hzbi-green);
  text-transform: uppercase;
  /* line-height: 1em; */
}

.wbg-product-description-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.25rem;
}

.wbg-product-description {
  line-height: 1;
}

.wbg-product-description[data-visibility="clamped"] {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wbg-product-description[data-visibility="visible"] {
  display: inherit;
  animation: fadeInText 400ms ease-in;
}

.wbg-product-description-container .info-description {
  height: 20px;
  width: 20px;
}

.wbg-product-price {
  /* font-size: 1.2em; */
  color: var(--hzbi-green);
  font-weight: 900;
  letter-spacing: 0.1em;
  margin-top: 0.5rem;
}

.wbg-product-whatsapp-contact {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.wbg-product-wa-label {
  font-weight: 600;
  text-align: right;
}

.wbg-product-wa-button {
  display: flex;
  justify-content: flex-end;
}

.wbg-product-quantity {
  margin-bottom: 1em;
}

.wbg-product-quantity .wbg-product-qty-label {
  font-size: 0.75em;
  font-weight: 600;
  text-align: right;
  letter-spacing: 0.1em;
  color: black;
  text-transform: capitalize;
}

.wbg-product-quantity-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-quantity-actions {
  /* font-size: 1.25em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wbg-product-quantity input[name="quantity"]:read-only {
  width: 50px;
  border: 0;
  box-shadow: none;
  background: none;
  color: black;
}

.wbg-product-quantity input[name="quantity"]:-moz-read-only {
  width: 50px;
  border: 0;
  box-shadow: none;
  background: none;
  color: black;
}

.wbg-product-footer {
  border-top: 1px solid #00593014;
  padding-top: 0.5em;
}

.wbg-product-subtotal {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  text-align: right;
  letter-spacing: 0.1em;
  color: black;
}

.wbg-product-subtotal-label {
  flex: 1;
  text-align: right;
  text-transform: capitalize;
}

.wbg-product-subtotal-value {
  flex: 1;
}

.slideIn {
  animation: slideIn 500ms ease;
  transform: translateX(0);
}

@keyframes slideIn {
  0% {
    transform: translateX(300px);
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.wbg-cart-notification .notification-text {
  /* font-size: 1.2em; */
  font-weight: 600;
  color: black;
  /* line-height: 1em; */
  padding-left: 1.5em;
  padding-top: 0.25em;
  overflow: hidden;
}

.fadeOut {
  animation: fadeOut 300ms ease;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 700ms ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cart-notice-pulse {
  position: absolute;
  top: 0%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(154, 205, 50);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(154, 205, 50, 0.6);
  animation: pulse 1.5s infinite;
}
.cart-notice-pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.wbg-card-collapse-container {
  padding-left: 7em;
  padding-right: 7em;
  margin-top: 1em;
}

.wbg-card-collapse-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
    rgb(255 255 255 / 80%) -6px -2px 16px 0;
  border-radius: 20px;
  gap: 0.25em;
  padding: 0.25em;
}

.wbg-voltar-card-label {
  /* font-size: 0.85em; */
  /* line-height: 0.85em; */
  color: var(--hzbi-green);
  font-weight: 600;
}

.arrow-voltar {
  display: flex;
}

/* .wbg-product-add-to-cart button.add-to-cart-button:before {
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px red;

  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 10px;
} */

.pulse-animation {
  animation: pulseAddToCart 3s infinite 1.5s !important;
}

@keyframes pulseAddToCart {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.pulse-animation:hover {
  animation: none;
}
