/* This class is used inside Bricks for the page foreground */
.wbg-archive-product {
  background-color: var(--hzbi-white);
}

.wbg-archive-product-container {
  padding: 0.5rem 1rem 6rem 1rem;
}

.wbg-archive-product-container[data-visibility="hidden"] {
  animation: fadeOut 500ms ease-out forwards;
}

.wbg-archive-product-container[data-visibility="visible"] {
  animation: fadeIn 500ms ease-in forwards;
}

.wbg-archive-product-container > ul,
.wbg-archive-product-container > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wbg-archive-product-wrapper {
  padding: 0 0.5em 0 0.5em;
}

.wbg-category-card {
  min-height: 200px;
  border-radius: 20px;
  background: var(--hzbi-whitesmoke);
  box-shadow: rgb(190 190 190 / 100%) 20px 20px 60px 0,
    var(--hzbi-white) -20px -20px 60px 0;
  margin-bottom: 3em;
  padding-bottom: 1em;
}

.arrow-toggle-expand-collapse {
  width: 34px;
  height: 34px;
}

.arrow-toggle-expand-collapse[data-action-state="expanded"] {
  transform: rotate(180deg);
  transition: all 700ms;
}

.arrow-toggle-expand-collapse[data-action-state="collapsed"] {
  transition: all 700ms;
}

.action-buttons {
  border-radius: 50%;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
    rgb(255 255 255 / 80%) -6px -2px 16px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.expanded {
  animation: expand 1s ease;
  height: auto;
}

@keyframes expand {
  0% {
    opacity: 0.9;
  }

  100% {
    height: auto;
    opacity: 1;
  }
}

.collapsed {
  animation: collapse 1s ease;
}

@keyframes collapse {
  0% {
    height: 100vh;
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.wbg-category-inner-card {
  margin: 3em 1em 0 1em;
  display: flex;
  padding-top: 0.75em;
}

.wbg-category-inner-image {
  flex: 0.8;
}

.wbg-category-inner-image img {
  margin-top: -2em;
  margin-left: 1em;
}

.wbg-category-content {
  display: flex;
  flex-direction: column;
  flex: 1.2;
}

.wbg-category-name {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0.5em 0 0.25em 0;
  color: var(--hzbi-light-black);
  letter-spacing: 0.15em;
}

.wbg-category-description {
  color: var(--hzbi-black);
}

.wbg-category-attributes {
  position: relative;
}

.wbg-category-attributes-values {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
  margin-top: 0.5rem;
  width: max-content;
}

.wbg-category-attribute-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  background: var(--hzbi-gold);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.25rem;
}

.wbg-category-attribute-value {
  font-size: 0.85rem;
  color: var(--hzbi-black);
  margin: 0;
}

.wbg-category-attributes-descriptions {
  position: absolute;
  z-index: 1;
  transform: translateY(-120%);
  background-color: var(--hzbi-gold);
  padding: 0.75rem 1rem;
  border-radius: 10px;
}

.wbg-category-attributes-descriptions[data-visibility="hidden"] {
  opacity: 0;
  z-index: -1;
  transition: all 700ms;
}

.wbg-category-attributes-descriptions[data-visibility="visible"] {
  animation: slideInUpAttributes 500ms ease-in forwards;
}

.wbg-category-attribute-description {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--hzbi-black);
}

.product-category-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5em;
}

.product-category-toggle .toggleExpandLabel {
  /* font-size: 0.75em; */
  letter-spacing: 0.1em;
  font-weight: 900;
  color: var(--hzbi-green);
}

.product-category-toggle span {
  font-size: 0.75rem;
  font-weight: 900;
  color: var(--hzbi-green);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-category-toggle[data-action-state="collapsed"] span::after {
  content: "Exibir os produtos";
}

.product-category-toggle[data-action-state="expanded"] span::after {
  content: "Voltar";
}

.wbg-category-collapse-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 1rem;
  margin-top: 3rem;
}

.wbg-category-collapse {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-radius: 10px;
  width: max-content;
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  background-color: var(--hzbi-light-green);
}

.wbg-category-collapse span {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
}

.wbg-product-list-wrapper > ul,
.wbg-product-list-wrapper > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wbg-product-list-wrapper[data-visibility="hidden"] {
  display: none;
}

.wbg-product-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.wbg-product {
  padding: 1rem 1rem 1rem 1rem;
  border-top: 1px solid #00593014;
  margin-top: 1em;
}

.wbg-product-sale-banner {
  position: absolute;
  top: 0.25rem;
  left: -0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--hzbi-gold);
  animation: blink 1000ms infinite;
  animation-direction: alternate;
}

.wbg-product-sale-banner span {
  font-size: 0.85rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--hzbi-black);
  font-weight: 900;
}

.wbg-product-combo-wrapper {
  padding: 0.75rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 75%;
}

.wbg-product-combo-message {
  color: var(--hzbi-green);
  text-transform: uppercase;
  font-size: 0.85rem;
  margin: 0 !important;
  font-weight: 600;
}

.wbg-product-combo-message.lowercase {
  text-transform: unset;
  letter-spacing: 0.25px;
}

.wbg-product-details-col1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wbg-product-details-col2 {
  width: 60%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wbg-product-name {
  font-weight: 900;
  color: var(--hzbi-green);
  text-transform: uppercase;
}

.wbg-product-description {
  line-height: 1;
}

.wbg-product-description[data-visibility="clamped"] {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.wbg-product-description[data-visibility="visible"] {
  display: inherit;
  animation: fadeInText 400ms ease-in;
}

.wbg-zoom-product-sheet {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-radius: 10px;
  width: max-content;
  padding: 0.25rem 1rem;
  margin-bottom: 0.25rem;
}

.wbg-zoom-product-sheet span {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
}

.wbg-combo-info-container {
  margin-bottom: 1rem;
}

.wbg-combo-info-container h4 {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.wbg-combo-single-item-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  font-size: 0.85rem;
  font-weight: 600;
}

.wbg-combo-saving {
  font-weight: 600;
  color: var(--hzbi-green);
  line-height: 1.1;
  margin-top: 1rem;
  animation: blink 1000ms infinite;
}

.wbg-product-price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.wbg-price {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.wbg-final-price {
  color: var(--hzbi-green);
}

.wbg-product-full-price {
  color: var(--hzbi-light-black);
  position: relative;
}

.wbg-product-full-price::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid var(--hzbi-black);
}

.wbg-price-symbol {
  font-size: 0.95rem;
  margin-right: 0.15rem;
}

.wbg-product-discount {
  display: flex;
  padding: 0.35rem 1rem;
  background-color: var(--hzbi-green);
  width: max-content;
  border-radius: 20px;
  align-items: center;
  margin-top: 0.5rem;
}

.wbg-product-discount span {
  color: var(--hzbi-white);
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 1;
}

.wbg-product-whatsapp-contact {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.wbg-product-wa-label {
  font-weight: 600;
  text-align: right;
}

.wbg-product-wa-button {
  display: flex;
  justify-content: flex-end;
}

.wbg-product-quantity {
  margin-block: 1rem;
}

.wbg-product-quantity .wbg-product-qty-label {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: right;
  letter-spacing: 0.1rem;
  color: black;
  text-transform: capitalize;
}

.wbg-product-quantity-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-quantity-actions {
  /* font-size: 1.25em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wbg-product-quantity input[name="quantity"]:read-only {
  width: 50px;
  border: 0;
  box-shadow: none;
  background: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.wbg-product-quantity input[name="quantity"]:-moz-read-only {
  width: 50px;
  border: 0;
  box-shadow: none;
  background: none;
  color: black;
}

.wbg-product-footer {
  border-top: 1px solid #00593014;
  padding-top: 0.5rem;
}

.wbg-product-subtotal {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  text-align: right;
  letter-spacing: 0.1em;
  color: black;
  gap: 0.5rem;
}

.wbg-product-subtotal-label {
  flex: 1;
  text-align: right;
  text-transform: capitalize;
}

.wbg-product-subtotal-value {
  flex: 1;
}

.wbg-product-zoom {
  position: fixed;
  top: 5vh;
  left: 1rem;
  width: calc(100vw - 2rem);
  background-color: var(--hzbi-whitesmoke);
  border-radius: 10px;
  z-index: 10;
  padding: 1.5rem;
}

.wbg-product-zoom[data-visibility="hidden"] {
  display: none;
}

.wbg-product-zoom[data-visibility="visible"] {
  animation: fadeIn 700ms ease-in forwards;
}

.wbg-product-sheet-wrapper[data-visibility="hidden"] {
  display: none;
}

.wbg-product-sheet-wrapper[data-visibility="visible"] {
  animation: fadeIn 700ms ease-in forwards;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  margin-bottom: 1.5rem;
}

.wbg-product-zoom-image-wrapper[data-visibility="hidden"] {
  display: none;
}

.wbg-product-zoom-image-wrapper[data-visibility="visible"] {
  animation: fadeIn 700ms ease-in forwards;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  margin-bottom: 1.5rem;
}

.wbg-product-sheet-wrapper .wbg-product-head {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.wbg-product-sheet-wrapper .wbg-product-image {
  display: flex;
  justify-content: center;
}

.wbg-product-sheet-wrapper .wbg-product-description {
  font-size: 1rem;
}

.wbg-product-sheet-wrapper .wbg-product-zoom-footer {
  padding: 0.5rem 2rem;
}

.wbg-product-sheet-wrapper .wbg-product-zoom-footer .wbg-button {
  padding: 0.5rem 2rem;
}

.slideIn {
  animation: slideIn 500ms ease;
  transform: translateX(0);
}

@keyframes slideIn {
  0% {
    transform: translateX(300px);
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.wbg-cart-notification .notification-text {
  /* font-size: 1.2em; */
  font-weight: 600;
  color: black;
  /* line-height: 1em; */
  padding-left: 1.5em;
  padding-top: 0.25em;
  overflow: hidden;
}

.fadeOut {
  animation: fadeOut 300ms ease;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 700ms ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cart-notice-pulse {
  position: absolute;
  top: 0%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(154, 205, 50);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(154, 205, 50, 0.6);
  animation: pulse 1.5s infinite;
}
.cart-notice-pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.wbg-card-collapse-container {
  padding-left: 7em;
  padding-right: 7em;
  margin-top: 1em;
}

.wbg-card-collapse-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(136 165 191 / 68%) 6px 2px 16px 0,
    rgb(255 255 255 / 80%) -6px -2px 16px 0;
  border-radius: 20px;
  gap: 0.25em;
  padding: 0.25em;
}

.wbg-voltar-card-label {
  color: var(--hzbi-green);
  font-weight: 600;
}

.arrow-voltar {
  display: flex;
}

.pulse-animation {
  animation: pulseAddToCart 3s infinite 1.5s !important;
}

@keyframes pulseAddToCart {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.pulse-animation:hover {
  animation: none;
}
